# Файл с секретными данными
config.ini

# Кэш и служебные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки виртуального окружения
venv/
env/
.venv/

# Папка с логами
logs/

# Служебные файлы IDE
.idea/
.vscode/